/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* My css */
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --muted-dark-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white-100: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);

  --fs-body: 15px;

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-title: "Inter", sans-serif;
  --ff-body: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white-60);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  font-family: var(--ff-body);
}

main {
  min-height: 100vh;
  display: grid;
}

.card {
  background-color: var(--muted-dark-blue);
  place-self: center center;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border-radius: 0.5rem;
}

.card__img {
  border-radius: 0.5rem 0.5rem 0 0;
  flex-basis: 30vh;
  background: var(--soft-violet) url(./images/image-header-mobile.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  order: 1;
}

.card__body {
  order: 2;
  text-align: center;
  padding: 2rem;
}

.card__title {
  margin-bottom: 1rem;
}

.card__title span {
  color: var(--soft-violet);
}

.stats {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stats__item {
  display: flex;
  flex-direction: column;
}

.stats__item span {
}

/* Utilities */

.text--bold {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  color: var(--white-100);
  font-size: 1.75rem;
  line-height: 1.2;
}

@media screen and (min-width: 900px) {
  .card {
    flex-direction: row;
    max-width: 70%;
  }

  .card__img {
    flex-basis: 50%;
    order: 2;
    flex: 1;
    background: var(--soft-violet) url(./images/image-header-desktop.jpg);
    border-radius: 0 0.5rem 0.5rem 0;
    background-repeat: no-repeat;
  }

  .card__title {
    font-size: 2rem;
  }

  .card__body {
    flex-basis: 50%;
    order: 1;
    padding: 4rem 6rem 4rem 4rem;
    text-align: left;
  }

  .stats {
    flex-direction: row;
    justify-content: space-between;
  }
}
